**·É´·Éò·É†·Éò·Éó·Éê·Éì·Éò ·Éú·Éê·É¨·Éò·Éö·Éò (6 ·É•·É£·Éö·Éê)**

·Éê·Éõ ·Éì·Éê·Éï·Éê·Éö·Éî·Éë·Éò·É° ·Éû·Éò·É†·Éù·Éë·Éê ·Éó·É•·Éï·Éî·Éú·Éó·Éï·Éò·É° ·Éô·Éê·É†·Éí·Éê·Éì ·Éú·Éê·É™·Éú·Éù·Éë·Éò·Éê ·É®·É£·Éê·Éö·Éî·Éì·É£·É†·Éò ·Éí·Éê·Éõ·Éù·É™·Éì·Éò·Éì·Éê·Éú. üòÅüòÅ ·Éõ·Éù·Éí·Éò·É¨·Éî·Éï·Éó, ·É†·Éù·Éõ ·Éò·Éì·Éî·Éú·É¢·É£·É†·Éò ·Éê·Éõ·Éù·É™·Éê·Éú·Éê ·Éê·Éõ·Éù·ÉÆ·É°·Éú·Éê·Éó, ·Éù·É¶·Éù·Éú·Éì PySpark-·Éò·É° ·Éí·Éê·Éõ·Éù·Éß·Éî·Éú·Éî·Éë·Éò·Éó. ·Éê·É† ·Éí·Éê·Éõ·Éù·Éò·Éß·Éî·Éú·Éù·Éó Pandas-·Éò·É° ·Éë·Éò·Éë·Éö·Éò·Éù·Éó·Éî·Éô·Éê. ·É¨·Éò·Éú·Éê·Éê·É¶·Éõ·Éì·Éî·Éí ·É®·Éî·Éõ·Éó·ÉÆ·Éï·Éî·Éï·Éê·É®·Éò ·Éê·É† ·É©·Éê·Éò·Éó·Éï·Éö·Éî·Éë·Éê. 

·É®·Éî·Éí·Éê·ÉÆ·É°·Éî·Éú·Éî·Éë·Éó ·Éû·Éò·É†·Éù·Éë·Éê·É°:


You are given dataset of Marvel superheroes (some DC heroes may have sneaked through as usual), your first task is to randomly generate teams of 5 heroes with following columns:
- team_name: team name should be generated using strongest hero name in team with following template "Team: {Strongest_Hero_Name}" to calculate stongest hero in team you'll need to calculate average of following attributes in charcters_stats file: Intelligence, Strength, Speed, Durability, Power, Combat
- leader: name of hero with highest Intelligence score in team
- tank: name of hero with highest sum value of Strength and Durability
- damage: hero with highest sum value of Speed, Power and Combat 
- the_other_guy: one of the hero who's not specified in above columns
- the_other_guy2: one of the hero who's not specified in above columns
- top_average_speed: average of top 3 highest speed entries in team
- top_average_height: average of top 3 tallest heroes in team
- flight_count: number of heroes who can fly in team (available in superheroes_power_matrix)  

**same hero should not end up in multiple teams.**

**all negative values should be converted to 0.**

In [1]:
!sudo apt-get update

!apt-get install openjdk-8-jre

!apt-get install scala
!pip install py4j
!wget -q https://downloads.apache.org/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz
!tar xf spark-2.4.8-bin-hadoop2.7.tgz
!pip install -q findspark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:5 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [73.9 kB]
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:13 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [833 kB]
Hit:14 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:15 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:16 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [691 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,898 kB]
Hit:19 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:20 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,461 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,821 kB]
Get:22 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,452 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,230 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-backports/universe amd64 Packages [12.6 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-backports/main amd64 Packages [11.6 kB]
Get:26 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [934 kB]
Get:27 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.9 kB]
Fetched 13.8 MB in 7s (1,929 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java
  libatk-wrapper-java-jni libgail-common libgail18 libgtk2.0-0 libgtk2.0-bin
  libgtk2.0-common libxxf86dga1 openjdk-8-jre-headless x11-utils
Suggested packages:
  gvfs icedtea-8-plugin libnss-mdns fonts-ipafont-gothic fonts-ipafont-mincho
  fonts-wqy-microhei fonts-wqy-zenhei fonts-indic mesa-utils
The following NEW packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java
  libatk-wrapper-java-jni libgail-common libgail18 libgtk2.0-0 libgtk2.0-bin
  libgtk2.0-common libxxf86dga1 openjdk-8-jre openjdk-8-jre-headless x11-utils
0 upgraded, 13 newly installed, 0 to remove and 82 not upgraded.
Need to get 33.6 MB of archives.
After this operation, 122 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/main amd64 libxxf86dga1 amd64 2:1.1.4-1 [13.7 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-dejavu-core all 2.37-1 [1,041 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/main amd64 fonts-dejavu-extra all 2.37-1 [1,953 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/main amd64 x11-utils amd64 7.7+3build1 [196 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic/main amd64 libatk-wrapper-java all 0.33.3-20ubuntu0.1 [34.7 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/main amd64 libatk-wrapper-java-jni amd64 0.33.3-20ubuntu0.1 [28.3 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgtk2.0-common all 2.24.32-1ubuntu1 [125 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgtk2.0-0 amd64 2.24.32-1ubuntu1 [1,769 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgail18 amd64 2.24.32-1ubuntu1 [14.2 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgail-common amd64 2.24.32-1ubuntu1 [112 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic/main amd64 libgtk2.0-bin amd64 2.24.32-1ubuntu1 [7,536 B]
Get:12 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 openjdk-8-jre-headless amd64 8u312-b07-0ubuntu1~18.04 [28.2 MB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 openjdk-8-jre amd64 8u312-b07-0ubuntu1~18.04 [69.6 kB]
Fetched 33.6 MB in 5s (7,092 kB/s)
Selecting previously unselected package libxxf86dga1:amd64.
(Reading database ... 155222 files and directories currently installed.)
Preparing to unpack .../00-libxxf86dga1_2%3a1.1.4-1_amd64.deb ...
Unpacking libxxf86dga1:amd64 (2:1.1.4-1) ...
Selecting previously unselected package fonts-dejavu-core.
Preparing to unpack .../01-fonts-dejavu-core_2.37-1_all.deb ...
Unpacking fonts-dejavu-core (2.37-1) ...
Selecting previously unselected package fonts-dejavu-extra.
Preparing to unpack .../02-fonts-dejavu-extra_2.37-1_all.deb ...
Unpacking fonts-dejavu-extra (2.37-1) ...
Selecting previously unselected package x11-utils.
Preparing to unpack .../03-x11-utils_7.7+3build1_amd64.deb ...
Unpacking x11-utils (7.7+3build1) ...
Selecting previously unselected package libatk-wrapper-java.
Preparing to unpack .../04-libatk-wrapper-java_0.33.3-20ubuntu0.1_all.deb ...
Unpacking libatk-wrapper-java (0.33.3-20ubuntu0.1) ...
Selecting previously unselected package libatk-wrapper-java-jni:amd64.
Preparing to unpack .../05-libatk-wrapper-java-jni_0.33.3-20ubuntu0.1_amd64.deb ...
Unpacking libatk-wrapper-java-jni:amd64 (0.33.3-20ubuntu0.1) ...
Selecting previously unselected package libgtk2.0-common.
Preparing to unpack .../06-libgtk2.0-common_2.24.32-1ubuntu1_all.deb ...
Unpacking libgtk2.0-common (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgtk2.0-0:amd64.
Preparing to unpack .../07-libgtk2.0-0_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgtk2.0-0:amd64 (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgail18:amd64.
Preparing to unpack .../08-libgail18_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgail18:amd64 (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgail-common:amd64.
Preparing to unpack .../09-libgail-common_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgail-common:amd64 (2.24.32-1ubuntu1) ...
Selecting previously unselected package libgtk2.0-bin.
Preparing to unpack .../10-libgtk2.0-bin_2.24.32-1ubuntu1_amd64.deb ...
Unpacking libgtk2.0-bin (2.24.32-1ubuntu1) ...
Selecting previously unselected package openjdk-8-jre-headless:amd64.
Preparing to unpack .../11-openjdk-8-jre-headless_8u312-b07-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u312-b07-0ubuntu1~18.04) ...
Selecting previously unselected package openjdk-8-jre:amd64.
Preparing to unpack .../12-openjdk-8-jre_8u312-b07-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jre:amd64 (8u312-b07-0ubuntu1~18.04) ...
Setting up libgtk2.0-common (2.24.32-1ubuntu1) ...
Setting up fonts-dejavu-core (2.37-1) ...
Setting up libxxf86dga1:amd64 (2:1.1.4-1) ...
Setting up fonts-dejavu-extra (2.37-1) ...
Setting up openjdk-8-jre-headless:amd64 (8u312-b07-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up libgtk2.0-0:amd64 (2.24.32-1ubuntu1) ...
Setting up libgail18:amd64 (2.24.32-1ubuntu1) ...
Setting up x11-utils (7.7+3build1) ...
Setting up libgail-common:amd64 (2.24.32-1ubuntu1) ...
Setting up libatk-wrapper-java (0.33.3-20ubuntu0.1) ...
Setting up libgtk2.0-bin (2.24.32-1ubuntu1) ...
Setting up libatk-wrapper-java-jni:amd64 (0.33.3-20ubuntu0.1) ...
Setting up openjdk-8-jre:amd64 (8u312-b07-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/policytool to provide /usr/bin/policytool (policytool) in auto mode
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.3) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  libhawtjni-runtime-java libjansi-java libjansi-native-java libjline2-java
  scala-library scala-parser-combinators scala-xml
Suggested packages:
  scala-doc
The following NEW packages will be installed:
  libhawtjni-runtime-java libjansi-java libjansi-native-java libjline2-java
  scala scala-library scala-parser-combinators scala-xml
0 upgraded, 8 newly installed, 0 to remove and 82 not upgraded.
Need to get 25.0 MB of archives.
After this operation, 28.6 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libhawtjni-runtime-java all 1.15-2 [27.1 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libjansi-native-java all 1.7-1 [19.4 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libjansi-java all 1.16-1 [36.2 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libjline2-java all 2.14.6-1 [150 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 scala-library all 2.11.12-4~18.04 [9,589 kB]
Get:6 http://archive.ubuntu.com/ubuntu bionic/universe amd64 scala-parser-combinators all 1.0.3-3 [355 kB]
Get:7 http://archive.ubuntu.com/ubuntu bionic/universe amd64 scala-xml all 1.0.3-3 [601 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 scala all 2.11.12-4~18.04 [14.2 MB]
Fetched 25.0 MB in 4s (5,716 kB/s)
Selecting previously unselected package libhawtjni-runtime-java.
(Reading database ... 155673 files and directories currently installed.)
Preparing to unpack .../0-libhawtjni-runtime-java_1.15-2_all.deb ...
Unpacking libhawtjni-runtime-java (1.15-2) ...
Selecting previously unselected package libjansi-native-java.
Preparing to unpack .../1-libjansi-native-java_1.7-1_all.deb ...
Unpacking libjansi-native-java (1.7-1) ...
Selecting previously unselected package libjansi-java.
Preparing to unpack .../2-libjansi-java_1.16-1_all.deb ...
Unpacking libjansi-java (1.16-1) ...
Selecting previously unselected package libjline2-java.
Preparing to unpack .../3-libjline2-java_2.14.6-1_all.deb ...
Unpacking libjline2-java (2.14.6-1) ...
Selecting previously unselected package scala-library.
Preparing to unpack .../4-scala-library_2.11.12-4~18.04_all.deb ...
Unpacking scala-library (2.11.12-4~18.04) ...
Selecting previously unselected package scala-parser-combinators.
Preparing to unpack .../5-scala-parser-combinators_1.0.3-3_all.deb ...
Unpacking scala-parser-combinators (1.0.3-3) ...
Selecting previously unselected package scala-xml.
Preparing to unpack .../6-scala-xml_1.0.3-3_all.deb ...
Unpacking scala-xml (1.0.3-3) ...
Selecting previously unselected package scala.
Preparing to unpack .../7-scala_2.11.12-4~18.04_all.deb ...
Unpacking scala (2.11.12-4~18.04) ...
Setting up scala-parser-combinators (1.0.3-3) ...
Setting up libhawtjni-runtime-java (1.15-2) ...
Setting up scala-library (2.11.12-4~18.04) ...
Setting up scala-xml (1.0.3-3) ...
Setting up libjansi-native-java (1.7-1) ...
Setting up libjansi-java (1.16-1) ...
Setting up libjline2-java (2.14.6-1) ...
Setting up scala (2.11.12-4~18.04) ...
update-alternatives: using /usr/share/scala-2.11/bin/scala to provide /usr/bin/scala (scala) in auto mode
Collecting py4j
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 198 kB 4.1 MB/s
Installing collected packages: py4j
Successfully installed py4j-0.10.9.3

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.8-bin-hadoop2.7"


import findspark
findspark.init()


from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").appName("Test Setup").getOrCreate()
sc = spark.sparkContext

In [3]:
df_stats = spark.read.option("header", True).csv("character_stats.csv").drop('Alignment', 'Total')
df_info = spark.read.option("header", True).csv("marvel_characters_info.csv").select('Name', 'Height')
df_power_matrix = spark.read.option("header", True).csv("superheroes_power_matrix.csv").select('Name', 'Flight')

In [4]:
df_tmp = df_stats.join(df_info,'Name', 'full')
df = df_tmp.join(df_power_matrix, 'Name', 'full')

del df_stats
del df_info
del df_power_matrix

In [5]:
from pyspark.sql.types import *

df = df.withColumn("Intelligence", df.Intelligence.cast(DoubleType()))\
  .withColumn("Strength", df.Strength.cast(DoubleType()))\
  .withColumn("Speed", df.Speed.cast(DoubleType()))\
  .withColumn("Durability", df.Durability.cast(DoubleType()))\
  .withColumn("Power", df.Power.cast(DoubleType()))\
  .withColumn("Combat", df.Combat.cast(DoubleType()))\
  .withColumn("Height", df.Height.cast(DoubleType()))\
  .withColumn("Flight", df.Flight.cast(BooleanType()))\


df = df.withColumn("Flight", df.Flight.cast(IntegerType()))

In [6]:
from pyspark.sql.functions import udf

@udf(returnType=DoubleType())
def filter_negative(stat):
     return None if stat == None else max(0.0, stat)

In [7]:
df = df.withColumn("Intelligence", filter_negative(df.Intelligence))\
  .withColumn("Strength", filter_negative(df.Strength))\
  .withColumn("Speed", filter_negative(df.Speed))\
  .withColumn("Durability", filter_negative(df.Durability))\
  .withColumn("Power", filter_negative(df.Power))\
  .withColumn("Combat", filter_negative(df.Combat))\
  .withColumn("Height", filter_negative(df.Height))

In [8]:
df = df.dropDuplicates(['Name'])

In [9]:
from pyspark.sql.functions import rand 

df_randomized = df.orderBy(rand())

In [10]:
count = df_randomized.count()
df = df_randomized.limit(count - count%5)
del df_randomized

In [11]:
from pyspark.sql.functions import array, lit
from pyspark.sql.functions import monotonically_increasing_id, row_number
from pyspark.sql import Window

num_teams = df.count() // 5
teams = list(range(num_teams)) * 5
team_df = spark.createDataFrame(teams, IntegerType()).withColumnRenamed("value", "group_number")

# df.withColumn("row_idx", row_number().over(Window.orderBy(monotonically_increasing_id())))
# other idea: apply func to df which maps each row_idx to floor multiple of 5 (x - x%5)
a = df.withColumn("row_idx", row_number().over(Window.orderBy(monotonically_increasing_id())))
b = team_df.withColumn("row_idx", row_number().over(Window.orderBy(monotonically_increasing_id())))
team_df = team_df.limit(df.count() // 5)

df = a.join(b, a.row_idx == b.row_idx).\
             drop("row_idx")

del num_teams
del teams
del team_df
del a
del b

In [12]:
df = df.fillna(0)

In [13]:
from pyspark.sql.functions import lit, col

df = df.withColumn("avg_total", (col('Intelligence') + col('Strength') + col('Speed') + col('Durability') + col('Power') + col('Combat')) / lit(6))
df = df.withColumn("tankiness", col('Strength') + col('Durability'))
df = df.withColumn("damage", col('Speed') + col('Power') + col('Combat'))
df_cp = df

In [14]:
df_team_name = df.groupBy(df.group_number).max('avg_total').withColumnRenamed('max(avg_total)', 'avg_total')
df_result = df_team_name.join(df,['group_number', 'avg_total'], 'left').select('group_number' , 'Name').withColumnRenamed('Name', 'team_name').drop_duplicates(['group_number'])
del df_team_name

In [15]:
df_leader = df.groupBy(df.group_number).max('Intelligence').withColumnRenamed('max(Intelligence)', 'Intelligence')
df_tmp = df_leader.join(df,['group_number', 'Intelligence'], 'left').select('group_number' , 'Name').withColumnRenamed('Name', 'leader').drop_duplicates(['group_number'])
df_result = df_result.join(df_tmp, 'group_number')

df = df.join(df_tmp, df.Name == df_tmp.leader, 'leftanti')
del df_leader

In [16]:
df_tank = df.groupBy(df.group_number).max('tankiness').withColumnRenamed('max(tankiness)', 'tankiness')
df_tmp = df_tank.join(df,['group_number', 'tankiness'], 'left').select('group_number' , 'Name').withColumnRenamed('Name', 'tank').drop_duplicates(['group_number'])
df_result = df_result.join(df_tmp, 'group_number')

df = df.join(df_tmp, df.Name == df_tmp.tank, 'leftanti')
del df_tank

In [17]:
df_damage = df.groupBy(df.group_number).max('damage').withColumnRenamed('max(damage)', 'damage')
df_tmp = df_damage.join(df,['group_number', 'damage'], 'left').select('group_number' , 'Name').withColumnRenamed('Name', 'damage').drop_duplicates(['group_number'])
df_result = df_result.join(df_tmp, 'group_number')

df = df.join(df_tmp, df.Name == df_tmp.damage, 'leftanti')
del df_damage

In [18]:
df_other = df.groupBy(df.group_number).max('Height').withColumnRenamed('max(Height)', 'Height')
df_tmp = df_other.join(df,['group_number', 'Height'], 'left').select('group_number', 'Name').withColumnRenamed('Name', 'other_guy_1').drop_duplicates(['group_number'])
df_result = df_result.join(df_tmp, 'group_number')
df = df.join(df_tmp, df.Name == df_tmp.other_guy_1, 'leftanti')
del df_other

In [19]:
df_tmp = df.select('Name', 'group_number').withColumnRenamed('Name', 'other_guy_2')
df_result = df_result.join(df_tmp, 'group_number')

In [20]:
from pyspark.sql.functions import concat, col, lit

df_result = df_result.withColumn('team_name',  concat(lit("Team: {"), col("team_name"), lit("}")))
df = df_cp
del df_cp

In [21]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col, row_number
window_speed = Window.partitionBy("group_number").orderBy(col("speed").desc())
window_height = Window.partitionBy("group_number").orderBy(col("height").desc())

df_tmp = df.withColumn("row",row_number().over(window_speed)).filter(col("row") <= 3)
top_average_speed_df = df_tmp.groupBy("group_number").avg("Speed").withColumnRenamed("avg(Speed)", "top_average_speed")
df_result = df_result.join(top_average_speed_df, 'group_number')


df_tmp = df.withColumn("row",row_number().over(window_height)).filter(col("row") <= 3)
top_average_height_df = df_tmp.groupBy("group_number").avg("Height").withColumnRenamed("avg(Height)", "top_average_height")
df_result = df_result.join(top_average_height_df, 'group_number')

del window_speed
del window_height
del df_tmp
del top_average_speed_df
del top_average_height_df

In [22]:
df_flight = df.groupBy(df.group_number).sum('Flight').withColumnRenamed('sum(Flight)', 'flight_count')
df_result = df_result.join(df_flight, 'group_number')
del df_flight

In [23]:
# df_result.show()

In [24]:
df_result.write.csv('result_1.csv', mode='overwrite', header=True)

---


**·Éë·Éù·Éú·É£·É° ·Éú·Éê·É¨·Éò·Éö·Éò (2 ·É•·É£·Éö·Éê)**

·Éî·É° ·Éú·Éê·É¨·Éò·Éö·Éò·É™ ·Éó·É•·Éï·Éî·Éú·Éó·Éï·Éò·É° ·Éú·Éê·É™·Éú·Éù·Éë·Éò·Éê ·Éì·Éê ·Éí·É£·Éú·Éì·Éî·Éë·Éò·É° ·Éî·É†·Éó·Éõ·Éê·Éú·Éî·Éó·Éó·Éê·Éú ·É®·Éî·ÉØ·Éò·Éë·É†·Éî·Éë·Éê·É°, ·Éë·Éù·Éö·Éù·É° ·Éô·Éò ·Éí·Éê·Éõ·Éê·É†·ÉØ·Éï·Éî·Éë·É£·Éö·Éò·É° ·Éí·Éê·Éõ·Éù·Éï·Éö·Éî·Éú·Éê·É° ·Éî·ÉÆ·Éî·Éë·Éê.
·É®·Éî·Éí·Éê·ÉÆ·É°·Éî·Éú·Éî·Éë·Éó ·Éû·Éò·É†·Éù·Éë·Éê·É°:

After generating teams, obvious next task would be to perform basketball face off between teams. To determine winning teams we'll be using following logic:
* team scores 1 point if their top_average_speed is superior 
* team scores 1 point if their top_average_height is superior 
* team scores 1 point for each member inside team who can fly (available in superheroes_power_matrix)  
team with highest score wins!

Based on rules above you should perform competition: first you'll need to randomly divide teams (all of them) into 4 brackets and generate data frames for each of them, data frame should contain all possible combinations of teams,
for example if bracket consists of teams [A,B,C,D] data frame should contain pairs (A,B) (A,C) (A,D) (B,C) (B,D) (C,D) with following schema
- team_a: name for first team
- team_b: name for second team
- team_a_score: score for first team against second team, calculated using rules described above
- team_b_score: same for second team  

after generating data frame, pick one team from each bracket with most wins: team1, team2, team3 and team4
perform semi-finals: team1 vs team2, team3 vs team4 and finals with winner from these games

**if you get a tie at any point when facing teams with each other, you can pick any team, you may also drop some teams if there is too much missing data**  

---

·Éí·Éê·É¨·Éï·Éì·Éò·Éó 3 ·É§·Éê·Éò·Éö·É°, ·É†·Éù·Éõ·Éî·Éö·Éò·É™ ·Éê·Éõ ·Éì·Éê·Éï·Éê·Éö·Éî·Éë·Éò·É°·Éó·Éï·Éò·É° ·Éì·Éê·Éí·É≠·Éò·É†·Éì·Éî·Éë·Éê·Éó. ·É§·Éê·Éò·Éö·Éî·Éë·É®·Éò ·Éû·Éî·É†·É°·Éù·Éú·Éê·Éü·Éî·Éë·Éò ·Éê·É† ·Éì·É£·Éë·Éö·Éò·É†·Éì·Éî·Éë·Éê ·Éì·Éê ·É®·Éî·Éí·Éò·É´·Éö·Éò·Éê·Éó, ·Éî·Éí ·Éê·É† ·É®·Éî·Éê·Éõ·Éù·É¨·Éõ·Éù·Éó.

·Éê·Éõ·Éù·ÉÆ·É°·Éú·Éê ·Éê·É¢·Éï·Éò·É†·Éó·Éî·Éó ·Éú·Éù·É£·Éó·Éë·É£·É•·Éò·É° ·É°·Éê·ÉÆ·Éò·Éó.

·É¨·Éê·É†·Éõ·Éê·É¢·Éî·Éë·Éî·Éë·Éò!

In [25]:
# import os
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-2.4.8-bin-hadoop2.7"


# import findspark
# findspark.init()


# from pyspark.sql import SparkSession
# spark = SparkSession.builder.master("local[*]").appName("Test Setup").getOrCreate()
# sc = spark.sparkContext

In [26]:
df_result = spark.read.option("header", True).csv("result_1.csv")

In [27]:
from pyspark.sql.types import *

df_result = df_result.select("group_number", "team_name", "top_average_speed", "top_average_height", "flight_count")

df_result = df_result.withColumn("group_number", df_result.group_number.cast(IntegerType()))\
  .withColumn("team_name", df_result.team_name.cast(StringType()))\
  .withColumn("top_average_speed", df_result.top_average_speed.cast(DoubleType()))\
  .withColumn("top_average_height", df_result.top_average_height.cast(DoubleType()))\
  .withColumn("flight_count", df_result.flight_count.cast(IntegerType()))

df_result_cp = df_result

In [28]:
from math import ceil
count = df_result.count()
bracket_num = ceil(count / 4)

bracket_1 = df_result.limit(bracket_num)
df_result = df_result.subtract(bracket_1)
df_result = df_result.orderBy("group_number")

bracket_2 = df_result.limit(bracket_num)
df_result = df_result.subtract(bracket_2)
df_result = df_result.orderBy("group_number")

bracket_3 = df_result.limit(bracket_num)
df_result = df_result.subtract(bracket_3)
df_result = df_result.orderBy("group_number")

bracket_4 = df_result.limit(bracket_num)
df_result = df_result.subtract(bracket_4)
del df_result
del count
del bracket_num

In [29]:
bracket_1_1 = bracket_1.withColumnRenamed("group_number", "group_number_1")\
  .withColumnRenamed("team_name", "team_name_1")\
  .withColumnRenamed("top_average_speed", "top_average_speed_1")\
  .withColumnRenamed("top_average_height", "top_average_height_1")\
  .withColumnRenamed("flight_count", "flight_count_1")

bracket_2_1 = bracket_2.withColumnRenamed("group_number", "group_number_1")\
  .withColumnRenamed("team_name", "team_name_1")\
  .withColumnRenamed("top_average_speed", "top_average_speed_1")\
  .withColumnRenamed("top_average_height", "top_average_height_1")\
  .withColumnRenamed("flight_count", "flight_count_1")

bracket_3_1 = bracket_3.withColumnRenamed("group_number", "group_number_1")\
  .withColumnRenamed("team_name", "team_name_1")\
  .withColumnRenamed("top_average_speed", "top_average_speed_1")\
  .withColumnRenamed("top_average_height", "top_average_height_1")\
  .withColumnRenamed("flight_count", "flight_count_1")

bracket_4_1 = bracket_4.withColumnRenamed("group_number", "group_number_1")\
  .withColumnRenamed("team_name", "team_name_1")\
  .withColumnRenamed("top_average_speed", "top_average_speed_1")\
  .withColumnRenamed("top_average_height", "top_average_height_1")\
  .withColumnRenamed("flight_count", "flight_count_1")
bracket_1 = bracket_1.crossJoin(bracket_1_1)
bracket_2 = bracket_2.crossJoin(bracket_2_1)
bracket_3 = bracket_3.crossJoin(bracket_3_1)
bracket_4 = bracket_4.crossJoin(bracket_4_1)

del bracket_1_1
del bracket_2_1
del bracket_3_1
del bracket_4_1

In [30]:
from pyspark.sql.functions import udf, col, when

bracket_1 = bracket_1.select(
    when(col('team_name') > col('team_name_1'), col('group_number')).otherwise(col('group_number_1')).alias('group_number'),
    when(col('team_name') > col('team_name_1'), col('group_number_1')).otherwise(col('group_number')).alias('group_number_1'),
    when(col('team_name') > col('team_name_1'), col('team_name')).otherwise(col('team_name_1')).alias('team_name'),
    when(col('team_name') > col('team_name_1'), col('team_name_1')).otherwise(col('team_name')).alias('team_name_1'),
    when(col('team_name') > col('team_name_1'), col('top_average_speed')).otherwise(col('top_average_speed_1')).alias('top_average_speed'),
    when(col('team_name') > col('team_name_1'), col('top_average_speed_1')).otherwise(col('top_average_speed')).alias('top_average_speed_1'),
    when(col('team_name') > col('team_name_1'), col('top_average_height')).otherwise(col('top_average_height_1')).alias('top_average_height'),
    when(col('team_name') > col('team_name_1'), col('top_average_height_1')).otherwise(col('top_average_height')).alias('top_average_height_1'),
    when(col('team_name') > col('team_name_1'), col('flight_count')).otherwise(col('flight_count_1')).alias('flight_count'),
    when(col('team_name') > col('team_name_1'), col('flight_count_1')).otherwise(col('flight_count')).alias('flight_count_1')
)
bracket_1 = bracket_1.dropDuplicates(['team_name', 'team_name_1']).orderBy('group_number', 'group_number_1')
bracket_1 = bracket_1.filter(bracket_1.group_number != bracket_1.group_number_1)

In [31]:
bracket_2 = bracket_2.select(
    when(col('team_name') > col('team_name_1'), col('group_number')).otherwise(col('group_number_1')).alias('group_number'),
    when(col('team_name') > col('team_name_1'), col('group_number_1')).otherwise(col('group_number')).alias('group_number_1'),
    when(col('team_name') > col('team_name_1'), col('team_name')).otherwise(col('team_name_1')).alias('team_name'),
    when(col('team_name') > col('team_name_1'), col('team_name_1')).otherwise(col('team_name')).alias('team_name_1'),
    when(col('team_name') > col('team_name_1'), col('top_average_speed')).otherwise(col('top_average_speed_1')).alias('top_average_speed'),
    when(col('team_name') > col('team_name_1'), col('top_average_speed_1')).otherwise(col('top_average_speed')).alias('top_average_speed_1'),
    when(col('team_name') > col('team_name_1'), col('top_average_height')).otherwise(col('top_average_height_1')).alias('top_average_height'),
    when(col('team_name') > col('team_name_1'), col('top_average_height_1')).otherwise(col('top_average_height')).alias('top_average_height_1'),
    when(col('team_name') > col('team_name_1'), col('flight_count')).otherwise(col('flight_count_1')).alias('flight_count'),
    when(col('team_name') > col('team_name_1'), col('flight_count_1')).otherwise(col('flight_count')).alias('flight_count_1')
)
bracket_2 = bracket_2.dropDuplicates(['team_name', 'team_name_1']).orderBy('group_number', 'group_number_1')
bracket_2 = bracket_2.filter(bracket_2.group_number != bracket_2.group_number_1)

In [32]:
bracket_3 = bracket_3.select(
    when(col('team_name') > col('team_name_1'), col('group_number')).otherwise(col('group_number_1')).alias('group_number'),
    when(col('team_name') > col('team_name_1'), col('group_number_1')).otherwise(col('group_number')).alias('group_number_1'),
    when(col('team_name') > col('team_name_1'), col('team_name')).otherwise(col('team_name_1')).alias('team_name'),
    when(col('team_name') > col('team_name_1'), col('team_name_1')).otherwise(col('team_name')).alias('team_name_1'),
    when(col('team_name') > col('team_name_1'), col('top_average_speed')).otherwise(col('top_average_speed_1')).alias('top_average_speed'),
    when(col('team_name') > col('team_name_1'), col('top_average_speed_1')).otherwise(col('top_average_speed')).alias('top_average_speed_1'),
    when(col('team_name') > col('team_name_1'), col('top_average_height')).otherwise(col('top_average_height_1')).alias('top_average_height'),
    when(col('team_name') > col('team_name_1'), col('top_average_height_1')).otherwise(col('top_average_height')).alias('top_average_height_1'),
    when(col('team_name') > col('team_name_1'), col('flight_count')).otherwise(col('flight_count_1')).alias('flight_count'),
    when(col('team_name') > col('team_name_1'), col('flight_count_1')).otherwise(col('flight_count')).alias('flight_count_1')
)
bracket_3 = bracket_3.dropDuplicates(['team_name', 'team_name_1']).orderBy('group_number', 'group_number_1')
bracket_3 = bracket_3.filter(bracket_3.group_number != bracket_3.group_number_1)

In [33]:
bracket_4 = bracket_4.select(
    when(col('team_name') > col('team_name_1'), col('group_number')).otherwise(col('group_number_1')).alias('group_number'),
    when(col('team_name') > col('team_name_1'), col('group_number_1')).otherwise(col('group_number')).alias('group_number_1'),
    when(col('team_name') > col('team_name_1'), col('team_name')).otherwise(col('team_name_1')).alias('team_name'),
    when(col('team_name') > col('team_name_1'), col('team_name_1')).otherwise(col('team_name')).alias('team_name_1'),
    when(col('team_name') > col('team_name_1'), col('top_average_speed')).otherwise(col('top_average_speed_1')).alias('top_average_speed'),
    when(col('team_name') > col('team_name_1'), col('top_average_speed_1')).otherwise(col('top_average_speed')).alias('top_average_speed_1'),
    when(col('team_name') > col('team_name_1'), col('top_average_height')).otherwise(col('top_average_height_1')).alias('top_average_height'),
    when(col('team_name') > col('team_name_1'), col('top_average_height_1')).otherwise(col('top_average_height')).alias('top_average_height_1'),
    when(col('team_name') > col('team_name_1'), col('flight_count')).otherwise(col('flight_count_1')).alias('flight_count'),
    when(col('team_name') > col('team_name_1'), col('flight_count_1')).otherwise(col('flight_count')).alias('flight_count_1')
)
bracket_4 = bracket_4.dropDuplicates(['team_name', 'team_name_1']).orderBy('group_number', 'group_number_1')
bracket_4 = bracket_4.filter(bracket_4.group_number != bracket_4.group_number_1)

In [34]:
from pyspark.sql.functions import udf

@udf(returnType=IntegerType())
def calculate_score(a_flight, b_flight, a_speed, b_speed, a_height, b_height):
    score = a_flight
    if a_speed > b_speed:
      score += 1
    if a_height > b_height:
      score += 1
    return score

In [35]:
bracket_1 = bracket_1.withColumn("team_a_score", calculate_score(bracket_1.flight_count, bracket_1.flight_count_1, bracket_1.top_average_speed, bracket_1.top_average_speed_1, bracket_1.top_average_height, bracket_1.top_average_height_1))
bracket_1 = bracket_1.withColumn("team_b_score", calculate_score(bracket_1.flight_count_1, bracket_1.flight_count, bracket_1.top_average_speed_1, bracket_1.top_average_speed, bracket_1.top_average_height_1, bracket_1.top_average_height))
bracket_1 = bracket_1.withColumnRenamed("team_name", "team_a").withColumnRenamed("team_name_1", "team_b").select("team_a", "team_b", "team_a_score", "team_b_score")

bracket_2 = bracket_2.withColumn("team_a_score", calculate_score(bracket_2.flight_count, bracket_2.flight_count_1, bracket_2.top_average_speed, bracket_2.top_average_speed_1, bracket_2.top_average_height, bracket_2.top_average_height_1))
bracket_2 = bracket_2.withColumn("team_b_score", calculate_score(bracket_2.flight_count_1, bracket_2.flight_count, bracket_2.top_average_speed_1, bracket_2.top_average_speed, bracket_2.top_average_height_1, bracket_2.top_average_height))
bracket_2 = bracket_2.withColumnRenamed("team_name", "team_a").withColumnRenamed("team_name_1", "team_b").select("team_a", "team_b", "team_a_score", "team_b_score")


bracket_3 = bracket_3.withColumn("team_a_score", calculate_score(bracket_3.flight_count, bracket_3.flight_count_1, bracket_3.top_average_speed, bracket_3.top_average_speed_1, bracket_3.top_average_height, bracket_3.top_average_height_1))
bracket_3 = bracket_3.withColumn("team_b_score", calculate_score(bracket_3.flight_count_1, bracket_3.flight_count, bracket_3.top_average_speed_1, bracket_3.top_average_speed, bracket_3.top_average_height_1, bracket_3.top_average_height))
bracket_3 = bracket_3.withColumnRenamed("team_name", "team_a").withColumnRenamed("team_name_1", "team_b").select("team_a", "team_b", "team_a_score", "team_b_score")


bracket_4 = bracket_4.withColumn("team_a_score", calculate_score(bracket_4.flight_count, bracket_4.flight_count_1, bracket_4.top_average_speed, bracket_4.top_average_speed_1, bracket_4.top_average_height, bracket_4.top_average_height_1))
bracket_4 = bracket_4.withColumn("team_b_score", calculate_score(bracket_4.flight_count_1, bracket_4.flight_count, bracket_4.top_average_speed_1, bracket_4.top_average_speed, bracket_4.top_average_height_1, bracket_4.top_average_height))
bracket_4 = bracket_4.withColumnRenamed("team_name", "team_a").withColumnRenamed("team_name_1", "team_b").select("team_a", "team_b", "team_a_score", "team_b_score")

In [36]:
@udf(returnType=StringType())
def determine_winner(team_a, team_b, a_score, b_score):
         return team_a if a_score > b_score else team_b

In [37]:
bracket_1 = bracket_1.withColumn("winner", determine_winner(bracket_1.team_a, bracket_1.team_b, bracket_1.team_a_score, bracket_1.team_b_score))
bracket_2 = bracket_2.withColumn("winner", determine_winner(bracket_2.team_a, bracket_2.team_b, bracket_2.team_a_score, bracket_2.team_b_score))
bracket_3 = bracket_3.withColumn("winner", determine_winner(bracket_3.team_a, bracket_3.team_b, bracket_3.team_a_score, bracket_3.team_b_score))
bracket_4 = bracket_4.withColumn("winner", determine_winner(bracket_4.team_a, bracket_4.team_b, bracket_4.team_a_score, bracket_4.team_b_score))

In [38]:
win_counts = bracket_1.groupBy(bracket_1.winner).count()
max_wins = win_counts.groupBy().max('count').withColumnRenamed("max(count)", "count")
winner_team_1 = max_wins.join(win_counts, "count", 'inner').drop_duplicates(['count'])

win_counts = bracket_2.groupBy(bracket_2.winner).count()
max_wins = win_counts.groupBy().max('count').withColumnRenamed("max(count)", "count")
winner_team_2 = max_wins.join(win_counts, "count", 'inner').drop_duplicates(['count'])

win_counts = bracket_3.groupBy(bracket_3.winner).count()
max_wins = win_counts.groupBy().max('count').withColumnRenamed("max(count)", "count")
winner_team_3 = max_wins.join(win_counts, "count", 'inner').drop_duplicates(['count'])

win_counts = bracket_4.groupBy(bracket_4.winner).count()
max_wins = win_counts.groupBy().max('count').withColumnRenamed("max(count)", "count")
winner_team_4 = max_wins.join(win_counts, "count", 'inner').drop_duplicates(['count'])

del bracket_1
del bracket_2
del bracket_3
del bracket_4

In [39]:
df_result = df_result_cp
del df_result_cp
winner_team_1 = winner_team_1.join(df_result, winner_team_1.winner == df_result.team_name, 'left').drop("count", "group_number", "winner")
winner_team_2 = winner_team_2.join(df_result, winner_team_2.winner == df_result.team_name, 'left').drop("count", "group_number", "winner")
winner_team_3 = winner_team_3.join(df_result, winner_team_3.winner == df_result.team_name, 'left').drop("count", "group_number", "winner")
winner_team_4 = winner_team_4.join(df_result, winner_team_4.winner == df_result.team_name, 'left').drop("count", "group_number", "winner")

In [40]:
from pyspark.sql.functions import monotonically_increasing_id, row_number
from pyspark.sql import Window


winner_team_1 = winner_team_1.withColumn("row_id", row_number().over(Window.orderBy(monotonically_increasing_id())))
winner_team_2 = winner_team_2.withColumn("row_id", row_number().over(Window.orderBy(monotonically_increasing_id())))
winner_team_2 = winner_team_2.withColumnRenamed("team_name", "team_name_1")\
  .withColumnRenamed("top_average_speed", "top_average_speed_1")\
  .withColumnRenamed("top_average_height", "top_average_height_1")\
  .withColumnRenamed("flight_count", "flight_count_1")
semifinal_1 = winner_team_1.join(winner_team_2, "row_id", "left").drop("row_id")



winner_team_3 = winner_team_3.withColumn("row_id", row_number().over(Window.orderBy(monotonically_increasing_id())))
winner_team_4 = winner_team_4.withColumn("row_id", row_number().over(Window.orderBy(monotonically_increasing_id())))
winner_team_4 = winner_team_4.withColumnRenamed("team_name", "team_name_1")\
  .withColumnRenamed("top_average_speed", "top_average_speed_1")\
  .withColumnRenamed("top_average_height", "top_average_height_1")\
  .withColumnRenamed("flight_count", "flight_count_1")
semifinal_2 = winner_team_3.join(winner_team_4, "row_id", "left").drop("row_id")

del winner_team_1
del winner_team_2
del winner_team_3
del winner_team_4

In [41]:
semifinal_1 = semifinal_1.withColumn("team_a_score", calculate_score(semifinal_1.flight_count, semifinal_1.flight_count_1, semifinal_1.top_average_speed, semifinal_1.top_average_speed_1, semifinal_1.top_average_height, semifinal_1.top_average_height_1))
semifinal_1 = semifinal_1.withColumn("team_b_score", calculate_score(semifinal_1.flight_count_1, semifinal_1.flight_count, semifinal_1.top_average_speed_1, semifinal_1.top_average_speed, semifinal_1.top_average_height_1, semifinal_1.top_average_height))
semifinal_1 = semifinal_1.withColumnRenamed("team_name", "team_a").withColumnRenamed("team_name_1", "team_b").select("team_a", "team_b", "team_a_score", "team_b_score")

semifinal_2 = semifinal_2.withColumn("team_a_score", calculate_score(semifinal_2.flight_count, semifinal_2.flight_count_1, semifinal_2.top_average_speed, semifinal_2.top_average_speed_1, semifinal_2.top_average_height, semifinal_2.top_average_height_1))
semifinal_2 = semifinal_2.withColumn("team_b_score", calculate_score(semifinal_2.flight_count_1, semifinal_2.flight_count, semifinal_2.top_average_speed_1, semifinal_2.top_average_speed, semifinal_2.top_average_height_1, semifinal_2.top_average_height))
semifinal_2 = semifinal_2.withColumnRenamed("team_name", "team_a").withColumnRenamed("team_name_1", "team_b").select("team_a", "team_b", "team_a_score", "team_b_score")

In [42]:
semifinal_1 = semifinal_1.withColumn("winner", determine_winner(semifinal_1.team_a, semifinal_1.team_b, semifinal_1.team_a_score, semifinal_1.team_b_score))
semifinal_2 = semifinal_2.withColumn("winner", determine_winner(semifinal_2.team_a, semifinal_2.team_b, semifinal_2.team_a_score, semifinal_2.team_b_score))

In [43]:
semifinal_1_winner = semifinal_1.select("winner")
semifinal_2_winner = semifinal_2.select("winner")
del semifinal_1
del semifinal_2

In [44]:
semifinal_1_winner = semifinal_1_winner.join(df_result, semifinal_1_winner.winner == df_result.team_name, 'left').drop("group_number", "winner")
semifinal_2_winner = semifinal_2_winner.join(df_result, semifinal_2_winner.winner == df_result.team_name, 'left').drop("group_number", "winner")

In [45]:
semifinal_1_winner = semifinal_1_winner.withColumn("row_id", row_number().over(Window.orderBy(monotonically_increasing_id())))
semifinal_2_winner = semifinal_2_winner.withColumn("row_id", row_number().over(Window.orderBy(monotonically_increasing_id())))
semifinal_2_winner = semifinal_2_winner.withColumnRenamed("team_name", "team_name_1")\
  .withColumnRenamed("top_average_speed", "top_average_speed_1")\
  .withColumnRenamed("top_average_height", "top_average_height_1")\
  .withColumnRenamed("flight_count", "flight_count_1")
final = semifinal_1_winner.join(semifinal_2_winner, "row_id", "left").drop("row_id")
del semifinal_1_winner
del semifinal_2_winner

In [46]:
final = final.withColumn("team_a_score", calculate_score(final.flight_count, final.flight_count_1, final.top_average_speed, final.top_average_speed_1, final.top_average_height, final.top_average_height_1))
final = final.withColumn("team_b_score", calculate_score(final.flight_count_1, final.flight_count, final.top_average_speed_1, final.top_average_speed, final.top_average_height_1, final.top_average_height))
final = final.withColumnRenamed("team_name", "team_a").withColumnRenamed("team_name_1", "team_b").select("team_a", "team_b", "team_a_score", "team_b_score")

In [47]:
final = final.withColumn("winner", determine_winner(final.team_a, final.team_b, final.team_a_score, final.team_b_score))
# final.show()

In [48]:
final.write.csv('result_2.csv', mode='overwrite', header=True)

In [49]:
# final_winner = final.select("winner")
# final_winner.show()
# del final_winner

del final